/*******************************
       AboutUs section
*******************************/
.AboutUs{
    width: 90%;
    background: #42100187;
    padding: 50px;
    border-radius: 0 42px 42px 0;
    box-shadow: 0px 3px 20px #ffffff30,
    0px -3px 20px #ffffff30;
    padding: 60px 60px 10px 10%;
    margin-top: 100px;
}
.AboutUs--textpart{
    width: 50%;
}
.AboutUs--textpart > h2{
    font-size: 90px;
    margin-bottom: 60px;
}
.AboutUs--textpart > p{
    font-size: 30px;
    line-height: 200%;
}
.AboutUs--images{
    width: 45%;
}
.First--AboutUs--Image , .Third--AboutUs--Image{
    align-self: flex-end;
}
.second--AboutUs--Image{
    display: none;
}
.AboutUs--image--BetweenSpace{
    height: 300px;
    width: 100%;
}
.AboutUs--image--BetweenSpace::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 100%;
    max-width: 337px;
    max-height: 337px;
    min-width: 182px;
    min-height: 182px;
    border-radius: 50px;
    background: url(../Images/HomePageImage/second\ about\ us\ image.png) no-repeat;
    background-size: cover;
    background-position: 50%;
    bottom: 40px;
    left: 100px;
}
.Third--AboutUs--Image{
    transform: translateX(-40px);
}
@media (max-width: 1340px) {
    .AboutUs{
        flex-wrap: wrap;
        padding: 30px;
    }
    .AboutUs--textpart{
        width: 100%;
    }
    .AboutUs--images{
        width: 100%;
    }
    .AboutUs--textpart > h2{
        font-size: 60px;
        margin-bottom: 40px;
    }
    .AboutUs--textpart > p{
        font-size: 20px;
        line-height: 160%;
    }
    .AboutUs--images{
        width: 100%;
        flex-direction: row !important;
        justify-content: space-between !important;
    }
    .AboutUs--images > img{
        width: 30%;
        min-width: 111px;
        transform: none;
        align-self: center;
    }
    .second--AboutUs--Image{
        display: block;
    }
    .AboutUs--image--BetweenSpace{
        display: none;
    }
}
@media (max-width: 600px) {
    .AboutUs{
        padding: 50px 17px;
    }
    .AboutUs--textpart > h2{
        font-size: 30px;
        margin-bottom: 40px;
    }
    .AboutUs--textpart > p{
        font-size: 15px;
        margin-bottom: 30px;
    }
    .AboutUs--images{
        width: 100%;
        position: relative;
        height: 250px;
    }
    .AboutUs--images > img{
        width: 50%;
        transform: none;
        align-self: center;
        position: absolute;
        border-radius: 20%;
    }
    .First--AboutUs--Image{
        left: 0;
        z-index: 1;
    }
    .second--AboutUs--Image{
        left: 25%;
        z-index: 3;
    }
    .Third--AboutUs--Image{
        left: 50%;
        z-index: 2;
    }
    .AboutUs--images > img:hover{
        transition-delay: .3s;
        z-index: 4;
    }
}
/**********************************
       OurWorkSlider style
**********************************/
.OurWork{
    margin-top: 200px;
}
.OurWork > h2{
    font-size: 90px; 
    margin-bottom: 100px;
}
#OurWorkSlider img{
    width: 90%;
    max-width: 1130px;
    min-width: 301px;
    max-height: 754px;
    min-height: 200px;
    height: 80vh;
    border-radius: 42px;
    object-fit: cover;
}
/* styling for customizing indicators in bootstrap */
#OurWorkSlider > .carousel-indicators{
    transform: translate(0 , 70px);
}
#OurWorkSlider > .carousel-indicators > button{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 4px solid var(--bs--Color--18);
}
.transparet-for-background{
    background: transparent !important;
}
#OurWorkSlider > .carousel-indicators > button[class *="active"]{
    background: var(--bs--Color--20) !important;
}
@media (max-width: 576px) {
    #OurWorkSlider img{
        border-radius: 14px;
        width: 70%;
    }
    #OurWorkSlider > .carousel-indicators{
        transform: translate(0 , 50px);
    }
    #OurWorkSlider > .carousel-indicators > button{
        width: 11px;
        height: 11px; 
        border: 2px solid var(--bs--Color--18);
    }
}
@media (max-width: 1000px) {
    .OurWork{
        margin-top: 40px;
        margin-bottom: 100px;
    }
    .OurWork > h2{
        margin-bottom: 53px;
    }
}
@media (max-width: 600px) {
    .OurWork > h2{
        margin-top: 70px;
        font-size: 40px;
    }
}
