.formSection{
    margin-top: 0;
}
.Contact__header{
    font-size: 40px;
}
.gmap_canvas{
    width: 90%;
    height: 300px;
    border-radius: 14px;
}
.map__contianer{
    margin-bottom: 100px;
}
@media (min-width: 700px) {
    .formSection{
        display: none !important;
    }
    .Contact__header{
        font-size: 70px;
    }
    .Contact__section .address__phonenumber , .Contact__section .address__address{
        font-size: 25px;
    }
}
@media (min-width: 1230px) {
    .Contact__header{
        font-size: 90px;
        margin-bottom: 50px;
        transform: translate(-55px , 0);
    }
    .Contact__section .address__phonenumber{
        margin-bottom: 25px !important;
    }
    .Contact__section .address__phonenumber , .Contact__section .address__address{
        font-size: 30px;
    }
    .Contact__section{
        margin-top: 100px !important;
    }
    .gmap_canvas{
        width: 493px;
        height: 428px;
        border-radius: 14px;
    }
}
@media (max-width: 350px) {
    .Contact__header{
        font-size: 30px;
    }
}