.Price__list{
    width: 80%;
}
.Price__list > h2 , .Price__list__searchPart > h2{
    font-size: 90px;
    margin: 150px 0 150px 100px;
}
.price__list__tables{
    background: #d9d9d9;
}
.table__headers{
    color: #1E0C06;
    font-size: 25px;
    vertical-align: top;
    padding: 20px 30px;
    font-family: "Montserrat Bold" , 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.filter__table{
    width: 80%;
    margin: 0 auto;
    overflow-x: scroll;
}
.carousel-item{
    overflow-x: scroll;
}
.table__datas{
    color: #1E0C06;
    font-size: 20px;;
    font-family: "KyivSans Medium" , 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.price__list__tables tr{
    border-bottom: 1px solid #8E392137;
}
.price__list__tables tr td{
    padding: 30px 0 7px 0;
}
.carousel-control-prev{
    left: -120px;
}
.carousel-control-next{
    right: -120px;
}
.Price__backgroundColor{
    background: #E59679;
}
.table__headers:last-child{
    background: #E59679;
}
.tables_container{
    height: 570px;
    overflow-y: hidden;
    overflow-x: scroll;
    transition: 1.5s;
}
.read__more__btn ,.read__Less__btn , .read__more__btn:focus , .read__Less__btn:focus{
    left: 0;
    background: #E59679;
    top: 500px;
    font-size: 18px;
    z-index: 2;
    padding: 8px 8px;
    border-radius: 30px;
    transition: right .5s , color .5s , border .2s;
    border: 2px solid #E59679 !important;
}
.read__more__btn:hover , .read__Less__btn:hover{
    color: #E59679 !important;
    border: 2px solid #fbfbfb !important;
    background: #808080b9;
}
.Active__table{
    height: auto;
}
/***************************************
        price list search part
***************************************/
.Price__list__searchPart{
    margin-top: 230px;
}
.Price__list__searchPart--form > div{
    gap: 30px;
}
.Price__list__searchPart--form > div > div > *{
    font-size: 20px;
}
.Price__list__searchPart--form input{
    background: transparent;
    border: 2px solid #728BAD;
    border-radius: 5px;
}
.Price__list__searchPart--form input:focus{
    outline: 1px solid #728BAD;
}
.Options__container:hover{
    color: #222021;
}
.Save__filter__btn > input{
    background-color: #728BAD;
    margin-top: 50px;
    margin-bottom: 70px;
}
.Save__filter__btn > input:hover{
    background-color: #728aada6;
    border-color: transparent;
}
.Options__container {
    background: transparent;
    border: 2px solid #728BAD;
    color: #f5f5f5;
    font-size: 15px !important;
    padding: 5px 0 5px 8px;
}
.Options__container > option{
    color: #222021;
}
/*******************************
    Styling Filter Message
*******************************/
.Filter__IsEmpty__Message{
    padding: 25px 0;
}
.Filter__IsEmpty__Message h3{
    font-size: 30px;
}
.Filter__IsEmpty__Message img{
    width: 90px;
    animation: EmptyGhostAnimation 10s infinite ease-in-out;
}
@keyframes EmptyGhostAnimation {
    0% , 100% , 10% , 90%{
        transform: translate(0 , -20px);
    }
    40% , 60%{
        transform: translate(0 , 0);
    }
}
@media (max-width: 800px) {
    .Price__list > h2 , .Price__list__searchPart > h2{
        font-size: 60px;
        margin: 100px 0;
    }
    .Price__list__searchPart > h2{
        margin: 40px 0 70px 0;
        text-align: center;
    }
    .Price__list__searchPart{ 
        margin-top: 150px;
    }
    .carousel-control-prev{
        left: -80px;
    }
    .carousel-control-next{
        right: -80px;
    }
    .table__datas{
        font-size: 15px;
    }
    .table__headers{
        color: #1E0C06;
        font-size: 20px;
        padding: 15px 20px;
    }
    .price__list__tables tr td {
        padding: 20px 0 2px 0;
    }
    .tables_container{
        height: 405px;
    }
    .read__more__btn ,.read__Less__btn , .read__more__btn:focus , .read__Less__btn:focus{
        top: 335px;
        font-size: 12px;
    }
    .Active__table{
        height: auto;
    }
}
@media (max-width: 600px) {
    .Price__list > h2 , .Price__list__searchPart > h2{
        font-size: 40px;
        margin: 100px 0 50px 0;
    }
    .carousel-control-prev{
        left: -50px;
    }
    .carousel-control-next{
        right: -50px;
    }
    .table__headers{
        font-size: 17px;
    }
    .price__list__tables tr td {
        padding: 10px 0 0px 0;
    }
    .tables_container{
        height: 313px;
    }
    .read__more__btn ,.read__Less__btn , .read__more__btn:focus , .read__Less__btn:focus{
        top: 258px;
        font-size: 10px;
    }
    .Active__table{
        height: auto;
    }
}